# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# -----------------------------
# Flask / Database
# -----------------------------
*.db
instance/
.env

# -----------------------------
# Terraform
# -----------------------------
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# -----------------------------
# AWS
# -----------------------------
*.pem
.aws/

# -----------------------------
# Docker
# -----------------------------
*.log

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db
